<h1>Hello this is about</h1>
<h2>This is a tutorial project made in Udemy </h2>
<h3> MVC - Model , View, Controller Model</h3>
<h4>SKL HAHAHAHA SANA GUMANAAAAA</h4>
<%= link_to 'Article Lists', articles_path %> |
<%= link_to 'Home Page', root_path%>