<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center text-white">
      <small>Copyright &copy; <%= link_to "Angelo Munar", "https://www.linkedin.com/in/manolito-angelo-s-munar-7b5874192/", class: "text-white" %> </small>
    </div>
</footer>